apiVersion: v1
kind: Service
metadata:
  name: admin-service
spec:
  selector:
    app: admin
  ports:
    - name: admin
      port: 3001
      targetPort: 3001
---
apiVersion: apps/v1
kind: Deployment
metadata:
  name: admin
spec:
  replicas: 1
  strategy:
    type: Recreate
  selector:
    matchLabels:
      app: admin
  template:
    metadata:
      labels:
        app: admin
    spec:
      containers:
        - name: admin
          image: ghcr.io/polinetworkorg/admin@sha256:5203481bdc4682902c9c07276239924eb42ce3d505d1c0e7c578eec97f41c0df
          imagePullPolicy: IfNotPresent
          ports:
            - containerPort: 3001
          env:
            - name: PUBLIC_URL
              value: "https://admin.polinetwork.org"
            - name: BACKEND_URL
              value: "https://api.polinetwork.org"
            - name: ADMIN_ORG_EMAIL
              value: "adminorg@polinetwork.org"
