apiVersion: secrets-store.csi.x-k8s.io/v1
kind: SecretProviderClass
metadata:
  name: backend-spc
  namespace: backend
spec:
  provider: azure
  parameters:
    usePodIdentity: "false"
    useVMManagedIdentity: "true"
    userAssignedIdentityID: "31ef9b42-b1c6-4bbc-bbce-3cf2faa1c8cb"
    tenantId: "7f8cafc8-4314-4070-9744-fe02f91bcb21"
    keyvaultName: "kv-polinetwork"
    objects: |
      array:
        - |
          objectName: backend-auth-secret            
          objectType: secret
        - |
          objectName: backend-encryption-key            
          objectType: secret
        - |
          objectName: backend-auth-github-id            
          objectType: secret
        - |
          objectName: backend-auth-github-secret            
          objectType: secret
        - |
          objectName: postgres-root-user            
          objectType: secret
        - |
          objectName: postgres-root-password
          objectType: secret
  secretObjects:
    - secretName: azure-kv
      type: Opaque
      data:
        - objectName: backend-encryption-key
          key: encryption-key
        - objectName: backend-auth-github-secret
          key: auth-github-id
        - objectName: backend-auth-github-id
          key: auth-github-secret
        - objectName: backend-auth-secret
          key: auth-secret
        - objectName: postgres-root-password
          key: db-pass
        - objectName: postgres-root-user
          key: db-user
---
apiVersion: v1
kind: Service
metadata:
  name: backend-service
spec:
  selector:
    app: backend
  ports:
    - name: backend
      port: 3000
      targetPort: 3000
---
apiVersion: apps/v1
kind: Deployment
metadata:
  name: backend
spec:
  replicas: 1
  strategy:
    type: Recreate
  selector:
    matchLabels:
      app: backend
  template:
    metadata:
      labels:
        app: backend
    spec:
      containers:
        - name: backend
          image: ghcr.io/polinetworkorg/backend@sha256:9243dbab3bc0834a04ac1005b8c69f8797ef74e66531a0485c2188f24499f445
          imagePullPolicy: IfNotPresent
          ports:
            - containerPort: 3000
          volumeMounts:
            - name: secrets-store
              mountPath: /mnt/secrets-store
              readOnly: true
          env:
            - name: PUBLIC_URL
              value: "https://api.polinetwork.org"
            - name: TRUSTED_ORIGINS
              value: "https://polinetwork.org,https://admin.polinetwork.org,http://localhost:3001,http://localhost:3002"
            - name: DB_NAME
              value: "polinetwork_backend"
            - name: DB_HOST
              value: "postgres-service.postgres.svc.cluster.local"
            - name: DB_PORT
              value: "5432"
            - name: DB_USER
              valueFrom:
                secretKeyRef:
                  name: azure-kv
                  key: db-user
            - name: DB_PASS
              valueFrom:
                secretKeyRef:
                  name: azure-kv
                  key: db-pass
            - name: ENCRYPTION_KEY
              valueFrom:
                secretKeyRef:
                  name: azure-kv
                  key: encryption-key
            - name: BETTER_AUTH_SECRET
              valueFrom:
                secretKeyRef:
                  name: azure-kv
                  key: auth-secret
            - name: GITHUB_CLIENT_SECRET
              valueFrom:
                secretKeyRef:
                  name: azure-kv
                  key: auth-github-id
            - name: GITHUB_CLIENT_ID
              valueFrom:
                secretKeyRef:
                  name: azure-kv
                  key: auth-github-secret
      volumes:
        - name: secrets-store
          csi:
            driver: secrets-store.csi.k8s.io
            readOnly: true
            volumeAttributes:
              secretProviderClass: "backend-spc"
