PermitRootLogin no
PasswordAuthentication no
KbdInteractiveAuthentication no
PermitEmptyPasswords no
PubkeyAuthentication yes
TrustedUserCAKeys /etc/ssh/cloudflare-access-ca.pub
X11Forwarding no
AllowAgentForwarding no
MaxAuthTries 3
LoginGraceTime 30
