apiVersion: v1
kind: PersistentVolumeClaim
metadata:
  name: uptime-pvc
spec:
  accessModes:
    - ReadWriteOnce
  storageClassName: longhorn
  resources:
    requests:
      storage: 200Mi
---
apiVersion: apps/v1
kind: Deployment
metadata:
  name: uptime-kuma
  namespace: uptime-kuma
spec:
  replicas: 1
  selector:
    matchLabels:
      app: uptime-kuma
  template:
    metadata:
      labels:
        app: uptime-kuma
    spec:
      containers:
      - name: uptime-kuma-pod
        image: louislam/uptime-kuma 
        imagePullPolicy: IfNotPresent
        ports:
          - containerPort: 3001
        volumeMounts:
          - name: uptime-pvc
            mountPath: /app/data
      volumes:
        - name: uptime-pvc
          persistentVolumeClaim:
            claimName: uptime-pvc
---
apiVersion: v1
kind: Service
metadata:
  name: uptime-service
  labels:
    app: uptime-kuma
spec:
  ports:
    - name: uptime-kuma
      port: 3001
      targetPort: 3001
  selector:
    app: uptime-kuma 
